<section ng-controller="movieInfo" class="main">
    <article ng-repeat="item in data.products" class="movie-frame">
      <figure class="thumbnail">
       <a href="#/surprise/{{item.id}}"><img ng-src="images{{item.poster_path}}" class="poster-sm" ng-alt="{{item.title}}"></a>
      </figure>
      <a href="#" ng-click="getInfo(item.id)"><h2 class="movie-title">{{ item.title }}</h2></a>       
    </article>
    <article ng-repeat="item in data.products | filter:id">
        <div ng-if="id == item.id" class="info-box">
          <figure class="poster">
            <a href="#/surprise/{{item.id}}"><img ng-src="images{{item.poster_path}}" class="poster-sm" ng-alt="{{item.title}}"></a>
          </figure>
            <h2 class="movie-info-title">{{item.title}}</h2>
            <h4>{{item.overview}}</h3>
            <h5 class="top-cast">Starring:</h2>
            <ul>
              <li ng-if="item.cast[0]" class="cast">{{item.cast[0]}}</li>
              <li ng-if="item.cast[1]" class="cast">{{item.cast[1]}}</li>
              <li ng-if="item.cast[2]" class="cast">{{item.cast[2]}}</li>
              <li ng-if="item.cast[3]" class="cast">{{item.cast[3]}}</li>
            </ul>
            <h6>Runtime: {{item.runtime}}</h6>
            <h6>Released: {{item.year}}</h6>
            <button ng-click="getInfo()">Close</button>
        </div>
    </article>
  </section>